# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: inazaria <inazaria@student.42.fr>                   +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/03/19 20:30:59 by inazaria          #+#    #+#              #
#    Updated: 2024/03/20 02:31:04 by inazaria         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

.cache
.vscode/
compile_commands.json 

src/main.c
src/bonus/main.c
